.block-topic {
    margin-bottom: 15px;
    article {
        text-align: center;
        figure {
            margin: 0px;
            > a {
                display: block;
                margin-right: 0px;
            }
            img {
                margin-bottom: 10px;
                border-radius: 50%;
                background-image: var(--bs-gradient);
            }
            figcaption {
                a {
                    color: $gray-800;
                    text-decoration: none;
                    * {
                        font-size: 0.9rem;
                        margin: 0px;
                    }
                }
                a:hover {
                    text-decoration: underline;
                }
                p {
                    display: none;
                    margin: 0px;
                }
            }
        }
    }
    tr {
        display: flex;
        td {
            flex: 1;
        }
    }
}
@include media-breakpoint-up(sm) { 
    
}
@include media-breakpoint-up(md) {  
    .block-topic {
        margin-bottom: 20px;
        article {
            text-align: center;
            figure {
                > a {
                    display: block;
                    margin-bottom: 10px;
                    margin-right: 0px;
                }
                figcaption {
                    a {
                        * {
                            font-size: 0.95rem;
                            margin: 0px;
                        }
                    }
                    p {
                        display: none;
                        margin: 0px;
                    }
                }
            }
        }
    }
}
@include media-breakpoint-up(lg) { 
    .block-topic {
        margin-bottom: 30px;
        article {
            text-align: left;
            figure {
                margin: 0px;
                align-items: center;
                > a {
                    display: block;
                    margin-bottom: 15px;
                    margin-right: 15px;
                }
                figcaption {
                    a {
                        * {
                            font-size: 1rem;
                            margin: 0px;
                        }
                    }
                    p {
                        color: $gray-600;
                        font-size: 0.9rem;
                        margin: 0px;
                    }
                }
            }
        }
    }
}