// @font-face {
//     font-family:'Koh-Santepheap';
//     src:url(../fonts/Koh-Santepheap-Regular.ttf);
//     font-weight:400;
//     font-style:normal
// }
// @font-face {
//     font-family:'Koh-Santepheap';
//     src:url(../fonts/Koh-Santepheap-Bold.ttf);
//     font-weight:bold;
//     font-style:normal
// }

@font-face {
    font-family:'Kantumruy';
    src:url(../fonts/Kantumruy-Regular.ttf);
    font-weight:400;
    font-style:normal
}
@font-face {
    font-family:'Kantumruy';
    src:url(../fonts/Kantumruy-Bold.ttf);
    font-weight:bold;
    font-style:normal
}