.tab-collapse {
    margin-bottom: 20px;
    .nav {
        display: none;
    }
    .tab-content {
        .tab-pane {
            display: block;
            opacity: 1;
            border: 1px solid $gray-200;
            margin-bottom: 5px;
            padding: 15px;
            .collapse-title {
                margin: -15px;
                button {
                    color: $gray-800;
                    text-decoration: none;
                    display: block;
                    text-align: left;
                    background-color: #ffffff;
                    padding: 15px 15px 15px 10px;
                    border: 0px;
                    border-radius: 0px;
                    border-left: 5px solid var(--bs-primary);
                    outline: none;
                    width: 100%;
                }
                button.collapsed {
                    border-left: 0px;
                    padding: 15px;
                }
            }
            .collapse,
            .collapsing {
                .collapse-body {
                    padding-top: 30px;
                }
                
            }
        }
    }
    .block-list {
        article {
            margin-bottom: 30px;
            .title {
                font-size: 0.9rem;
                * {
                    color: $gray-800;
                    text-decoration: none;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
            .excerpt { 
                font-size: 0.8rem;
                color: $gray-600;
            }
        }
    }
}

@include media-breakpoint-up(sm) { 
    
}
@include media-breakpoint-up(lg) {
    .tab-collapse {
        .nav {
            display: block;
            margin-right: 30px;
            background-color: $gray-200;
            .nav-link {
                background-color: $gray-100;
                padding: 15px 15px 15px 30px;
                font-size: 15px;
                display: block;
                white-space: nowrap;
                color: $gray-800;
                margin-bottom: 1px;
                white-space: normal;
            }
            .nav-link.title {
                color: $gray-800;
                font-weight: bold;
                font-size: 16px;
                width: 100%;
            }
            .nav-link.active {
                background-color: #ffffff;
                border-left: 5px solid var(--bs-primary);
                border-bottom: 0px;
                padding-left: 25px;
            }
        }
        margin-bottom: 30px;
        .tab-content {
            .tab-pane {
                border: none;
                &.fade {
                    display: none;
                }
                &.active {
                    display: block;
                }
                .collapse,
                .collapsing {
                    .collapse-body {
                        padding-top: 0;
                    }
                    
                }
            }
            .collapse-title {
                display: none;
            }
        }
        .block-list {
            article {
                .title {
                    font-size: 1rem;
                }
                .excerpt { 
                    font-size: 0.9rem;
                }
            }
        }
    }
}