$font-body: "Open Sans", "Koh-Santepheap", sans-serif;
$font-family-sans-serif: $font-body;

$primary:       #004f8b;
$secondary:     #0277BD;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$hc-offcanvas-nav-background-color:   $gray-200 !default;
$hc-offcanvas-nav-text-color:         $gray-900 !default;