$font-body: "Open Sans", Helvetica, "Koh-Santepheap", sans-serif;
// $font-body: "Open Sans", Helvetica, "Kantumruy", sans-serif;
$font-family-sans-serif: $font-body;

// $primary:       #003D7C;
$primary:       #003a8a;
$secondary:     #3da3cf;
// $secondary:     #ff6600;
$headings-line-height: var(--bs-body-line-height);
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$hc-offcanvas-nav-background-color:   $gray-200 !default;
$hc-offcanvas-nav-text-color:         $gray-900 !default;

// $container-max-widths: (
//     sm: 540px,
//     md: 720px,
//     lg: 960px,
//     xl: 1140px
// );

$aspect-ratios: (
    "1x1": 100%,
    "3x2": calc(2 / 3 * 100%),
    "3x4": calc(4 / 3 * 100%),
    "4x3": calc(3 / 4 * 100%),
    "16x9": calc(9 / 16 * 100%),
    "21x9": calc(9 / 21 * 100%),
    "anamorphic": calc(1 / 2.39 * 100%),
    "panavision": calc(1 / 2.75 * 100%)
);